<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"/>
    <link href="/resources/stylesheets/base.css" rel="stylesheet">
<!--    <script defer th:src="@{/resources/scripts/}"></script>-->
</head>
<!--<link rel="icon" href="/resources/images/mypage_image.png">-->
<body>
<header id="header">
    <div class="home">
        <a href="/">
        </a>
    </div>

    <div class="login">
        <a href="/login">
        </a>
    </div>

    <div class="menu">
    </div>
</header>
<div id="main-container">
    <div></div>

</div>

<footer class="footer">
    &copy; 2023. Team B2 all right reserved.
</footer>

</body>
</html>